
.cuerpoall {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; 
    margin: 0; /* Elimina márgenes por defecto */
    background-color: #fffefe; /* Fondo opcional */
  }

.cardCrud {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

.button-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .button-group button {
    flex: 1;
    padding: 10px 15px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .button-group button:hover {
    background-color: #0056b3;
  }
  